# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Compiled python files
*.pyc

# Visual Studio Files
*.suo
*.pyproj

# UI autosave files
*.autosave

# Windows shortcuts
*.lnk

# Compiled files
*.pyc

# Visual Studio Files
*.suo
*.sln
*.pyproj
*.user
*.TMP
/UpgradeLog.htm
/.vs/

# PowerPoint files
*.pptx

# Releases folder
/Releases

# ArgoUML files
*.zargo~

# Scripts folder
/Scripts/

# Folders with custom files
/Custom_vtk_files
/Custom_matplotlib_backends

# Other
/Compile/Windows/dist
/Logo/logo_horizontal_transp.xcf
/VisualPIC/use_lib.py
/VisualPIC/__main__.spec

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

